#palabra::before{
    color: #c62828;
    content: "___ ";
} 

#palabra::after {
    color: #2e7d32;
    content: " *";
}

#texto::after{
    color: #2e7d32;
    content: ": esto no lo he escrito en el";
}

#revoloteado:hover{
      color: #6a1b9a;
  }